<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <title>UT4 EXEMPLE-1 GESTIÓ D'USUARIS</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>UT4 EXEMPLE-1 GESTIÓ D'USUARIS</h1>
                <h2>AUTENTICACIÓ I MODIFICACIÓ D'USUARIS AMB MYSQL</h2>
            </div>
        </div>
        <div class="container">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h1>YOU ARE IN</h1>
                </div>
            </div>
        </div>
    </body>
</html>
