<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>UT7_Whatspau_Client</title>
  </head>
  <body>
    <h1><img src="static/whatspau_mini.png"> UT7_Whatspau_Client</h1>


  <div class="row">
    <div class="col-sm-3">
      <div class="alert alert-success" role="alert">
        AMICS
      </div>
      <div class="table-responsive">
        <table id="userList" class="table table-bordered table-hover">
          <thead><td></td><td>Nous</td></thead>
          <tbody>
            <tr><td> miamigo</td><td></td></tr>
            <tr class="table-success"><td> jlmerino</td><td></td></tr>
            <tr><td> arullan</td><td><b>3</b></td></tr>    
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-success" role="alert">
        Conversa amb jlmerino
      </div>
       <div class="h-50 overflow-auto" style="background-color: rgba(0,0,255,.1)">
         <div class="col-sm-10">
              <div class="shadow-sm p-2 mb-4 bg-white rounded">
        <p class="text-right">Ei!<sub>11:45<img src="static/llegit.png"></sub></p>
              </div>
      <div class="shadow-sm p-2 mb-4 bg-white rounded">
        <p class="text-right">Has fet la pràctica de Servidor?<sub>11:45<img src="static/llegit.png"></sub></p>
      </div>
      <div class="shadow-sm p-2 mb-4 bg-info rounded">
        <p class="text-left">Buff, que va, és una rallada<sub>11:50</sub></p>
      </div>
      <div class="shadow-sm p-2 mb-4 bg-info rounded">
        <p class="text-left">Vols que la fem junts?<sub>11:51</sub></p>
      </div>
      <div class="shadow-sm p-2 mb-4 bg-info rounded">
        <p class="text-left">Be, si vols...<sub>11:51</sub></p>
      </div>
      <div class="shadow-sm p-2 mb-4 bg-white rounded">
        <p class="text-right">Jo l'he trobada a Internet<sub>11:52<img src="static/rebut.png"></sub></p>
      </div>
            <div class="shadow-sm p-2 mb-4 bg-white rounded">
        <p class="text-right">Vols que te la passi?<sub>11:52<img src="static/enviat.png"></sub></p>
      </div>
    </div>
      </div>
      <form>
        <div class="form-row">
          <div class="col-11">
         <input type="text" class="form-control" id="missatgeNou" >
       </div>
          <div class="col-1">
         <input type="image" src="static/enviar.png">
       </div>
     </div>
       </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>