<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />

        <title>Tasca DWES2 - Gimnàs</title>
    </head>
    <body>
        <h1>Tasca DWES2 - Gimnàs</h1>
        <div class="alert alert-secondary" role="alert">
            <div class="row">
                <div class="col-sm-2">
                    <form
                        name="canviPantalla"
                        method="get"
                        action="{{url_for('formulari')}}"
                    >
                        <button type="submit" class="btn btn-primary">
                            Reservar pista
                        </button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form
                        name="canviPantalla"
                        method="get"
                        action="{{url_for('reserves')}}"
                    >
                        <button type="submit" class="btn btn-light">
                            Veure Reserves
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {% if problema==True %}
        <div class="alert alert-danger" role="alert">{{cadenaError}}</div>
        {% endif %}

        <div class="row">
            <div class="col-sm-4">
                <form
                    name="reserva"
                    method="get"
                    action="{{url_for('reservar')}}"
                >
                    <h2>Reserva pista</h2>
                    <p>
                        <label for="dia">Dia:</label>
                        <select class="form-select" id="dia" name="dia">
                            <option value="1">Dilluns</option>
                            <option value="2">Dimarts</option>
                            <option value="3">Dimecres</option>
                            <option value="4">Dijous</option>
                            <option value="5">Divendres</option>
                        </select>
                        <label for="hora">Hora:</label>
                        <input
                            type="number"
                            step="1"
                            max="20"
                            min="15"
                            name="hora"
                            id="hora"
                            required
                        />
                    </p>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="tipopista"
                            id="tipopista1"
                            value="exterior"
                        />
                        <label class="form-check-label" for="tipopista1"
                            >Exterior</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="tipopista"
                            id="tipopista2"
                            value="coberta"
                        />
                        <label class="form-check-label" for="tipopista2"
                            >Coberta</label
                        >
                    </div>

                    <h2>Usuari</h2>
                    <p>
                        <label for="nom">Nom i llinatges</label>
                        <input type="text" name="nom" id="nom" />
                    </p>
                    <p>
                        <label for="telefon">Telèfon</label>
                        <input type="number" name="telefon" id="telefon" />
                    </p>

                    <div style="text-align: center">
                        <input
                            type="submit"
                            value="Enviar"
                            name="enviar"
                            style="
                                margin-right: 5px;
                                width: 60px;
                                height: 30px;
                                font-weight: bold;
                            "
                        />
                        <input
                            type="reset"
                            value="Limpiar"
                            style="width: 60px; height: 30px; font-weight: bold"
                        />
                    </div>
                </form>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
