<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Tasca DWES2 - Gimnàs</title>
  </head>
  <body>
    <h1>Tasca DWES2 - Gimnàs</h1>
    <div class="alert alert-secondary" role="alert">
      <div class="row">
        <div class="col-sm-2">
          <form name="canviPantalla" method="POST" action="UT2_exemple4_registre.html">
            <button type="submit" class="btn btn-light">Reservar pista</button>
          </form>
        </div>
        <div class="col-sm-2">
          <form name="canviPantalla" method="POST" action="UT2_exemple4_reserves.html">
            <button type="submit" class="btn btn-primary">Veure Reserves </button>
          </form>
        </div>
      </div>
    </div>
    <h2> Opció senzilla</h2>
  <div class="row">
    <div class="col-sm-4">
  <table class="table table-bordered table-sm">
    <tbody>
      <tr>
        <td>Dia</td>
        <th scope="row">Dilluns</th>       
        <td>Hora</td>
        <th scope="row">19</th>
        <td>Tipus</td>
        <th scope="row">Exterior</th>
      </tr>
      <tr>
        <td>Usuari</td>
        <th scope="row" colspan="3">Joana Pons</th> 
         <td>Telefon</td>
        <th scope="row">656998877</th>       
      </tr>
    </tbody>
  </table>
    <table class="table table-bordered table-sm">
    <tbody>
      <tr>
        <td>Dia</td>
        <th scope="row">Dijous</th>       
        <td>Hora</td>
        <th scope="row">16</th>
        <td>Tipus</td>
        <th scope="row">Coberta</th>
      </tr>
      <tr>
        <td>Usuari</td>
        <th scope="row" colspan="3">Miquel Mir</th> 
         <td>Telefon</td>
        <th scope="row">632452314</th>       
      </tr>
    </tbody>
  </table>
</div></div>
   <h2> Opció avançada</h2>
  <div class="row">
    <div class="col-sm-4">
  <table class="table table-bordered table-sm">
    <thead><th></th><th>Dilluns</th><th>Dimarts</th><th>Dimecres</th><th>Dijous</th><th>Divendres</th></thead>
    <tbody>
      <tr><th>15:00</th><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><th>16:00</th><td></td><td></td><td></td><td>Miquel Mir</td><td></td></tr>
      <tr><th>17:00</th><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><th>18:00</th><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><th>19:00</th><td>Joana Pons</td><td></td><td></td><td></td><td></td></tr>
      <tr><th>20:00</th><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
  </table>
</div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>