<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <!-- CARREGAM CODI JAVASCRIPT -->

        <script
            type="text/javascript"
            src="{{url_for('static', filename='main.js')}}"
        ></script>

        <!-- CARREGAM ARXIU CSS -->

        <link rel="stylesheet" type="text/css" href="/static/estil.css" />

        <title>UT7_Whatspau_Client</title>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-8">
                <div class="alert alert-success" role="alert">
                    <p>CREACIÓ GRUP WHATSPAU</p>
                    <p>Has d'indicar el nom del grup</p>
                    <p>
                        Selecciona els membres del grup (un com a mínim)
                        <br />
                        Fes servir ctrl+click per seleccionar-ne més d'un
                        membre<br />El teu contacte s'inclou per defecte
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <label for="nomGrup">NOM GRUP:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nomGrup"
                            name="nomGrup"
                            required
                            placeholder="Escriu aquí el nom del grup"
                        />
                    </div>

                    <div class="form-group">
                        <label for="membresGrup">
                            Selecciona els membres del grup. Fes servir
                            ctrl+click per seleccionar-ne més d'un:
                        </label>
                        <select
                            multiple
                            id="membresGrup"
                            name="membresGrup"
                            required
                            class="form-control"
                        >
                            <option value="1">Jose</option>
                            <option value="2">GabrielAlzina</option>
                            <option value="3">DanielGil</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">CREA</button>
                </form>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="alert alert-success" role="alert">
                <p>CREACIÓ GRUP WHATSPAU</p>
                <p>Has d'indicar el nom del grup</p>
                <p>
                    Selecciona els membres del grup (un com a mínim)
                    <br />
                    Fes servir ctrl+click per seleccionar-ne més d'un membre<br />El
                    teu contacte s'inclou per defecte
                </p>
            </div>
            <form>
                <div class="mb-3">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Escriu aquí el nom del grup"
                    />
                </div>
                <div class="mb-3">
                    <select
                        class="form-select"
                        multiple
                        aria-label="Default select example"
                    >
                        <option value="1">Jose</option>
                        <option value="2">GabrielAlzina</option>
                        <option value="3">DanielGil</option>
                    </select>
                </div>

                <div class="mb-3 form-check">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
