<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <!-- CARREGAM LLIBRERIA JQUERY-JGROWL -->
        
        <link
            rel="stylesheet"
            type="text/css"
            href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.8/jquery.jgrowl.min.css"
        />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.8/jquery.jgrowl.min.js"></script>

        <!-- CARREGAM CODI JAVASCRIPT -->

        <script
            type="text/javascript"
            src="{{url_for('static', filename='main.js')}}"
        ></script>

        <!-- CARREGAM ARXIU CSS -->

        <link rel="stylesheet" type="text/css" href="/static/estil.css" />

        <title>UT7_Whatspau_Client</title>
    </head>
    <body>
        <div class="row" style="margin-left: 10px">
            <h1>
                <img src="../static/whatspau_mini.png" alt="WS" />UT7 WHATSPAU
                CLIENT
            </h1>
        </div>

        <div class="row" style="margin-left: 10px">
            <div class="col-sm-3">
                <div class="alert alert-success" role="alert">
                    AMICS i GRUPS
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="alert alert-info" role="alert">
                            VOLS CREAR UN GRUP NOU?
                        </div>
                    </div>
                    <div class="col-2 offset-2">
                        <button
                            type="button"
                            class="btn btn-primary"
                            onclick="carregaFormCreaGrup()"
                        >
                            NOU
                        </button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table
                        id="userList"
                        class="table table-bordered table-hover"
                    >
                        <thead class="text-center">
                            <tr>
                                <th>
                                    <strong>
                                        <span class="amic">AMIC</span> <->
                                        <span class="grup">GRUP</span>
                                    </strong>
                                </th>
                                <th>NOUS WS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contacte in usersGrups %} {% if
                            contacte["tipus"]=="amic" %}
                            <tr>
                                <td
                                    id="{{contacte['tipus']}}-{{contacte['id']}}"
                                    onclick="carregaConversaPerContacte(this.id)"
                                >
                                    <span class="amic"
                                        >{{contacte['name']}}</span
                                    >
                                </td>
                                {% if contacte['nousMissatges']==0 %}
                                <td
                                    class="text-center table-light"
                                    id="numNous-{{contacte['tipus']}}-{{contacte['id']}}"
                                >
                                    --
                                </td>
                                {% else %}
                                <td
                                    class="text-center table-success"
                                    id="numNous-{{contacte['tipus']}}-{{contacte['id']}}"
                                >
                                    {{contacte['nousMissatges']}}
                                </td>
                                {% endif %}
                            </tr>
                            {% else %}
                            <tr>
                                <td
                                    class="text-right"
                                    id="{{contacte['tipus']}}-{{contacte['id']}}"
                                    onclick="carregaConversaPerContacte(this.id)"
                                >
                                    <span class="grup"
                                        >{{contacte['name']}}</span
                                    >
                                </td>

                                <td
                                    class="text-center table-light"
                                    id="numNous-{{contacte['tipus']}}-{{contacte['id']}}"
                                >
                                    {{contacte['nousMissatges']}}
                                </td>
                            </tr>

                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-8" id="missatgesSection">
                <img src="../static/whatspau_logo.png" alt="LOGO" />
            </div>
        </div>
    </body>
</html>
