<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />

        <title>Tasca DWES3 - Gimnàs amb mySQL</title>
    </head>
    <body>
        <h1>TASCA DWES3 - GIMNAS AMB MYSQL</h1>
        <div class="alert alert-secondary" role="alert">
            <div class="row">
                <div class="col-sm-2">
                    <form
                        name="canviPantalla"
                        method="GET"
                        action="{{url_for('formulariReserva')}}"
                    >
                        <button type="submit" class="btn btn-light">
                            RESERVAR PISTA
                        </button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form
                        name="canviPantalla"
                        method="GET"
                        action="{{url_for('reserves')}}"
                    >
                        <button type="submit" class="btn btn-light">
                            VEURE RESERVES
                        </button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form
                        name="canviPantalla"
                        method="GET"
                        action="{{url_for('usuaris')}}"
                    >
                        <button type="submit" class="btn btn-primary">
                            USUARIS
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="alert alert-primary" role="alert">
                    <div class="row">
                        <div class="col-sm-9">
                            <h2>USUARIS</h2>
                        </div>
                        <div class="col-sm-3">
                            <a
                                href="{{url_for('afegeixUsuari')}}"
                                class="btn btn-primary"
                                ><img
                                    src="/static/add.png"
                                    alt="AFEGIR USUARI"
                                    width="32"
                                />
                                AFEGIR USARI</a
                            >
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table
                        id="userlist"
                        class="table table-bordered table-hover table-striped"
                    >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">NOM</th>
                                <th scope="col">LLINATGES</th>
                                <th scope="col">TELEFON</th>
                                <th scope="col">OPERACIÓ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in usuaris %}
                            <tr>
                                {% if u['actualitza']==0 %}
                                <th scope="row">{{u['idclient']}}</th>
                                <td>{{u['nom']}}</td>
                                <td>{{u['llinatges']}}</td>
                                <td>{{u['telefon']}}</td>
                                <td>
                                    <a
                                        href="{{url_for('editaUsuari')}}?idclient={{u['idclient']}}"
                                        ><img
                                            src="/static/pencil.png"
                                            alt="EDITA USUARI"
                                            width="32"
                                    /></a>
                                    <a
                                        href="{{url_for('esborraUsuari')}}?idclient={{u['idclient']}}"
                                        ><img
                                            src="/static/remove.png"
                                            alt="ESBORRA USUARI"
                                            width="32"
                                    /></a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <form
                                    action="{{url_for('desaUsuari')}}"
                                    method="get"
                                >
                                    <th scope="row">
                                        {{u['idclient']}}
                                        <input
                                            type="hidden"
                                            id="idclient"
                                            name="idclient"
                                            value="{{u['idclient']}}"
                                        />
                                    </th>
                                    <td>
                                        <input
                                            type="text"
                                            id="nom"
                                            name="nom"
                                            placeholder="{{u['nom']}}"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            id="llinatges"
                                            name="llinatges"
                                            placeholder="{{u['llinatges']}}"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            id="telefon"
                                            name="telefon"
                                            placeholder="{{u['telefon']}}"
                                        />
                                    </td>
                                    <td>
                                        <button type="submit">
                                            <img
                                                src="/static/check.png"
                                                alt="DESA USUARI"
                                                width="32"
                                            />
                                        </button>
                                    </td>
                                </form>
                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
